.msc-100 {
  font-family: 'Museo Sans Cyrl 500', serif;
}

.msc-300 {
  font-family: 'Museo Sans Cyrl 300', serif;
}

.msc-500 {
  font-family: 'Museo Sans Cyrl 500', serif;
}

.msc-700 {
  font-family: 'Museo Sans Cyrl 700', serif;
}

.msc-900 {
  font-family: 'Museo Sans Cyrl 900', serif;
}

.text-center {
  text-align: center;
}
.j-right {
    justify-content: flex-end;
}

.underline {
    text-decoration: underline;
}
